body {
    background: #EBE4D1;
    display: block;
    margin: 20px;
}
#titulo01 {
    text-align: center;
    color:#E55604;
    font-size: 60px;
    padding: color grey ;
}
#titulo02 {
    text-align: center;
    color:#26577C;
    font-size: 30px;
}
.texto {
    color:#8a8a7a;
    font-size: 20px;
}
.textolink {
    color:#8a8a7a;
    font-size: 25px;
}
#SBC {
    padding: 20px;
}