.titulo00 {
    padding-left: 20px;
}
.principal {
    background: #EBE4D1;
    display: block;
    margin: 20px;
}
.titulo01 {
    text-align: center;
    color:#E55604;
    font-size: 60px;
}
#SBC {
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.titulo02 {
    text-align: center;
    color:#26577C;
    font-size: 30px;
}
.texto {
    color:#8a8a7a;
    font-size: 20px;
}
.projetos {
    background: #EBE4D1;
    margin: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
    color:#8a8a7a;
    font-size: 25px;
}